<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de Testes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <h1>Gerenciador de Testes</h1>
        <form @submit.prevent="submitForm">
            <div class="form-group">
                <label for="url_jalisweb">URL do JalisWeb:</label>
                <input type="text" v-model="form.url_jalisweb" required><br>
            </div>

            <div class="form-group">
                <label for="usuario">Usuário:</label>
                <input type="text" v-model="form.usuario" required><br>
            </div>

            <div class="form-group">
                <label for="senha">Senha:</label>
                <input type="password" v-model="form.senha" required><br>
            </div>

            <div class="form-group">
                <label for="quantidade_de_requisicoes">Quantidade de Requisições:</label>
                <input type="number" v-model="form.quantidade_de_requisicoes" required><br>
            </div>

            <div class="form-group">
                <label for="paciente">Paciente:</label>
                <input type="text" v-model="form.paciente" required><br>
            </div>

            <div class="form-group">
                <label for="exame">Exame:</label>
                <input type="text" v-model="form.exame" required><br>
            </div>

            <div class="form-group">
                <label for="lab">Laboratório:</label>
                <input type="text" v-model="form.lab" required><br>
            </div>

            <div class="form-group">
                <input id="criar_requisicao" class="checkbox" type="checkbox" v-model="form.criar_requisicao">
                <label for="criar_requisicao">Criar Requisição</label><br>
            </div>
            
            <div class="form-group">
                <input id="criar_lote" class="checkbox" type="checkbox" v-model="form.criar_lote">
                <label for="criar_lote">Criar Lote</label><br>
            </div>
            
            <div class="form-group">
                <input id="estornar_lote" class="checkbox" type="checkbox" v-model="form.estornar_lote">
                <label for="estornar_lote">Estornar Lote</label><br>
            </div>
            
            <div class="form-group">
                <input id="is_lote_webservice" class="checkbox" type="checkbox" v-model="form.is_lote_webservice">
                <label for="is_lote_webservice">É Lote Webservice</label><br>
            </div>
                        
            <button type="submit">Executar Testes</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
